services:
  - type: web
    name: api-gateway
    env: node
    plan: standard # 2 GB RAM, 1 CPU
    rootDir: api-gateway
    buildCommand: 'npm ci'
    startCommand: 'node --preserve-symlinks server.js'
    envVars:
      - fromGroup: gen8-shared-env
      - key: PORT
        value: '8080'
      - key: AUTH_URL
        value: 'http://auth-service:8001'
      - key: BARCODE_URL
        value: 'http://barcode-service:8002'
      - key: CLIENT_URL
        value: 'http://client-service:8003'
      - key: INVENTORY_URL
        value: 'http://inventory-service:8000'

  - type: pserv
    name: auth-service
    env: node
    plan: standard # 2 GB RAM, 1 CPU
    rootDir: auth-service
    buildCommand: 'npm ci'
    startCommand: 'node server.js'
    envVars:
      - fromGroup: gen8-shared-env
      - key: PORT
        value: '8001'
      - key: DATABASE_URL
        value: 'postgresql://postgres:2Gs4kxBVxHypeL1G@db.itglhwjighxcfovzxwcd.supabase.co:5432/postgres'

  - type: pserv
    name: barcode-service
    env: node
    plan: starter # 512 MB RAM, 0.5 CPU
    rootDir: barcode-service
    buildCommand: 'npm ci'
    startCommand: 'node server.js'
    envVars:
      - fromGroup: gen8-shared-env
      - key: PORT
        value: '8002'

  - type: pserv
    name: client-service
    env: node
    plan: starter # 512 MB RAM, 0.5 CPU
    rootDir: client-service
    buildCommand: 'npm ci'
    startCommand: 'node server.js'
    envVars:
      - fromGroup: gen8-shared-env
      - key: PORT
        value: '8003'

  - type: pserv
    name: inventory-service
    env: node
    plan: starter # 512 MB RAM, 0.5 CPU
    rootDir: inventory-service
    buildCommand: 'npm ci'
    startCommand: 'node server.js'
    envVars:
      - fromGroup: gen8-shared-env
      - key: PORT
        value: '8000'
      - key: PRINT_BATCH_SIZE
        value: '100'
      - key: ZEBRA_HOST
        value: '<printer-ip-or-host>'
      - key: ZEBRA_PORT
        value: '9100'
      - key: ZPL_COPIES
        value: '1'
      - key: ZPL_LABEL_HEIGHT
        value: '406'
      - key: ZPL_LABEL_WIDTH
        value: '812'
